replicaCount: 1

image:
  repository: bboyadao/test_webapp
  tag: latest
  pullPolicy: Always

env:
  - name: DATABASE_URL
    valueFrom:
      secretKeyRef:
        name: webapp-sec
        key: DATABASE_URL
  - name: REDIS_URL
    valueFrom:
      secretKeyRef:
        name: webapp-sec
        key: REDIS_URL

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  type: ClusterIP
  port: 8001

resources:
 limits:
   cpu: 4000m
   memory: 8Gi
 requests:
   cpu: 2000m
   memory: 4Gi

livenessProbe:
  httpGet:
    path: /ping
    port: http
readinessProbe:
  httpGet:
    path: /ping
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []

tolerations: []

affinity: {}

#ingress:
#  enabled: true
#  className: "nginx"
#  annotations: {}
#    # kubernetes.io/ingress.class: nginx
#    # kubernetes.io/tls-acme: "true"
#  hosts:
#    - host: webapp.triptolocs.com
#      paths:
#        - path: /
#          pathType: ImplementationSpecific
#  #  - secretName: chart-example-tls
#  #    hosts:
#  #      - chart-example.local


ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    http.keda.sh/host: webapp.triptolocs.com
  hosts:
    - host: webapp.triptolocs.com
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: interceptor-proxy
            port:
              number: 8080